@import "tailwindcss";

/* app/globals.css */

@layer utilities {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* 이제 HTML에서 className="animate-fade-in-up" 으로 바로 사용 가능합니다 */
  .animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
  }
}
